<html lang="en">
<script src="ejs.js"></script>
<head class="mainContainer">
  <script>
  var html = ejs.render('componentes/head', {postArr: postArr});

$('#mainContainer').html(html);
</script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Maqueta Merkategia Entrevista</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <% include componentes/navBar %>
  <% include componentes/slider %>
  <header class="bg-dark">
  
  </header>
  <img src="imgs/nuestroCompromiso.png">
  <img class="bannerTrabajadores" src="imgs/normas_trabajo.png">
  <img class="bannerTrabajadores" src="imgs/NuestrosClientes.png">
  



  <!-- Footer -->
  <footer class="py-5 bg-dark">
  
    <div class="container">
      <a class="m-0 text-center text-white">Certiﬁcaciones y Alianzas comerciales</a> 
      <a><img src="/imgs/logos/logos alianzas.png"></a>
    </div>
    <!-- /.container -->
    
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="js/scrolling-nav.js"></script>

</body>

</html>
