
/*++fonts++*/
@font-face {
    font-family: 'RobotoBlack'; 
    src: url('../fonts/Roboto-Black.ttf'); 
}
@font-face {
    font-family: 'RobotoRegular'; 
    src: url('../fonts/Roboto-Regular.ttf'); 
}
/*--fonts--*/



  .navbar {
      background-color: rgba(0, 0, 0, 0.87);
      margin-top: -10px;
      
  }
  .logo {
        max-width: 100%;
        height: 62;
        padding-left: 100px;
  }
  .numeroWhatsapp{
   width: 200px;
   height: 70px;
   
  }
.m-0{
    padding-right: 200px;
}

  .navbar-brand {
    font-family: 'RobotoBlack';
    color:white;
    font-size: 1.5rem;
  }
  
  .nav-link {
    color:white;
    text-transform: uppercase;
    font-family: 'RobotoRegular';
    font-size: 0.7rem;
   
  }
  .nav-item{
    padding-right: 20px;
    padding-top: 20px;
    
  }
  .nav-item :hover{
    padding-right: 20px;
    padding-top: 20px;
    color: #424141;
  }
  .collapse{
    padding-right: 100px;
  }
  
  header img {
    width: 80%;
  }


.banner
{
  background:red;
  min-height:200px;
}
.banner .row
{
  text-align:center;
  margin-top:50px;
}

  section {
    padding: 20px 0;
  }
  .bannerTrabajadores{
    width: 100%;
 
  }

  /*++ SLIDER ++ */
  .slider {
	width: 100%;
	margin: auto;
    overflow: hidden;
    height: 100%;
    background-color: black;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
/*--SLIDER--*/