<div class="slider">
    <ul>
        <li>
<img src="/imgs/quienessomos.png" alt="">
</li>
        <li>
 <img src="/imgs/proyecto.png" alt="">
</li>
        <li>
<img src="/imgs/quienessomos.png" alt="">
</li>
        <li>
<img src="/imgs/proyecto.png" alt="">
</li>
    </ul>
</div>